section.boris
    .wrapper
        .boris__wrap-outer
            .boris__wrap-inner
                h2.boris__h2 Живой пример
                p.boris__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день. 
                .boris__content
                    .boris__block
                        .boris__box
                            h2.boris__h2 5 кг
                            span.boris__smalltext снижение веса
                        .boris__box
                            h2.boris__h2 60 дней
                            span.boris__smalltext затрачено времени
                    h3.boris__h3 Затраты на питание: 15 000 руб.
            .boris__wrap-inner
                .boris__wrap-img
                    .boris__img1
                    .boris__img2
                .boris__wrap-range
                    label(for="range").boris__label Было
                    input(type="range" id="range" value="0" min="0" max="100" step="100")
                    label(for="range").boris__label Стало