section.catalog
    .wrapper
        h1.catalog__h1 Каталог продукции
        ul.catalog__list
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-1.png")
                        img.catalog__img(src="./assets/img/catalog-1-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | PRO 500 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 500г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Курица
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 700
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-2.png")
                        img.catalog__img(src="./assets/img/catalog-2-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | PRO 1000 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 1000г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Курица
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 1000
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-3.png")
                        img.catalog__img(src="./assets/img/catalog-3-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | PRO 500 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 500г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Рыба
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 700
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-4.png")
                        img.catalog__img(src="./assets/img/catalog-4-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | PRO 1000 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 1000г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Рыба
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 1000
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-5.png")
                        img.catalog__img(src="./assets/img/catalog-5-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | slim 500 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 500г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Гречка
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 700
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-6.png")
                        img.catalog__img(src="./assets/img/catalog-6-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy 
                            br
                            | slim 1000 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 1000г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Гречка
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 1000
                button.btn.btn--green Заказать
            li.catalog__item
                .catalog__content
                    picture
                        source(media="(min-width: 768px)" srcset="./assets/img/catalog-7.png")
                        img.catalog__img(src="./assets/img/catalog-7-mobile.png", alt="food for cat")
                    .catalog__info
                        h3.catalog__h3
                            | Cat Energy
                            br
                            | slim 500 г
                        ul.catalog__sublist
                            li.catalog__subitem
                                span.catalog__span Объем
                                span.catalog__span 500г
                            li.catalog__subitem
                                span.catalog__span Вкус
                                span.catalog__span Рис
                            li.catalog__subitem
                                span.catalog__span Цена
                                span.catalog__span 700
                button.btn.btn--green Заказать
            li.catalog__item
                i.fas.fa-plus
                h2.catalog__h2 Показать еще 100500 товаров
                p.catalog__text На самом деле вкусов гораздо больше!
                button.btn.btn--grey Показать все