section.extra
    .wrapper
        h2.extra__h2 Дополнительные товары
        .extra__wrap
            ul.extra__list
                li.extra__item
                    .extra__content
                        h3.extra__h3 Сахарозаменитель
                        p.extra__text
                            span.extra__span 1 упаковка (100 г)
                            span.extra__span 100$
                    button.btn.btn--green Заказать
                li.extra__item
                    .extra__content
                        h3.extra__h3 Питьевая вода
                        p.extra__text
                            span.extra__span 5 литров
                            span.extra__span 50$
                    button.btn.btn--green Заказать
                li.extra__item
                    .extra__content
                        h3.extra__h3 Молоко
                        p.extra__text
                            span.extra__span 1 литр
                            span.extra__span 100$
                    button.btn.btn--green Заказать
                li.extra__item
                    .extra__content
                        h3.extra__h3 Витамины
                        p.extra__text
                            span.extra__span 1 упаковка (30 г)
                            span.extra__span 200$
                    button.btn.btn--green Заказать
            .extra__green
                i.fas.fa-gift
                p.extra__text.extra__text--white Закажите все и получите чехол для кота в подарок!