section.first-screen
    img(src="assets/img/index-background-desktop.png", alt="green cat").first-screen__img
    .wrapper
        .first-screen__contain
            h1.first-screen__h1 Функциональное питание для котов
            h3.first-screen__h3 Занялся собой? Займись котом!
            button.btn.btn--green Подобрать программу