section.first-screen
    .wrapper
        h1.first-screen__h1 Функциональное питание для котов
        h3.first-screen__h3 Занялся собой? Займись котом!
        button.btn.btn--green Подобрать программу