footer.footer
    .wrapper
        .footer__title
            img.footer__img(src="assets/img/footer-logo.png", alt="logo")
        .footer__social.social
            a.social__link(href="javascript:void(0)")
                i.fab.fa-vk
            a.social__link(href="javascript:void(0)")
                i.fab.fa-instagram
            a.social__link(href="javascript:void(0)")
                i.fab.fa-facebook-f
        .footer__copyright
            span.footer__text Academy
            a.footer__link(href="javascript:void(0)")