.extra {
    padding-top: 30px;
    .wrapper {
        flex-direction: column;
    }
    &__h2 {
        padding-bottom: 30px;
        color: #111111;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        border-bottom: 1px solid #dedede;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dedede;
        &:last-child {
            margin-bottom: 40px;
        }
    }
    &__h3 {
        margin-bottom: 15px;
        color: #222222;
        font-family: Oswald;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        color: #444444;
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    &__green {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 289px;
        padding-top: 65px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        background: url(../img/gift.png) no-repeat center;
        background-size: cover;
    }
    .fas {
        margin-bottom: 65px;
        color: white;
        font-size: 60px;
    }
    &__text--white {
        color: #ffffff;
        font-size: 16px;
        line-height: 20px;
    }
}