.first-screen {
    position: relative;
    min-height: 500px;
    padding-top: 30px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    line-height: 1;
    background: url(../img/energy.png) no-repeat center 80%;
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__h1 {
        margin: 0;
        margin-bottom: 20px;
        font-size: 36px;
    }
    &__h3 {
        margin-bottom: 300px;
        text-transform: uppercase;
    }
}