extends ../_template

block variables
  - var title = 'Cat Energy'

block content
  include ../common/_header.pug
  include ../common/_categories.pug
  include ../common/_advantages.pug
  include ../common/_boris.pug
  include ../common/_contacts.pug
  include ../common/_map.pug
  include ../common/_footer.pug